<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    

    <div class="wrap">

    <p class="title">
    <span>IMS</span>
    재고관리 시스템
    </p>

      <div class="tab-wrap">

        <div class="tab">

          <div class="login-tab">Login</div>

          <div class="join-tab">Join</div>

        </div>

        <div class="form">

          <form action="" class="login-form">

            <input type="text">
            <button type="reset">reset</button>

          </form>

          <form action="" class="join-form">

          </fomr>
        
        </div>

      </div>

    </div>

  </body>
</html>
